{% extends "base.html" %}

{% block header %}
{% include "partials/navbar.html" %}
{% endblock header %}

{% block main %}
<div class="px-40 flex flex-1 justify-center py-5">
    <div class="layout-content-container flex flex-col w-[512px] max-w-[512px] py-5 max-w-[960px] flex-1">
        <h1 class="text-white tracking-light text-[32px] font-bold leading-tight px-4 text-center pb-3 pt-6">Admin Only
        </h1>
        <p class="text-white text-base font-normal leading-normal pb-3 pt-1 px-4 text-center">
            You do not have permission to access this page. Please contact your administrator if you believe this is an
            error.
        </p>
    </div>
</div>
{% endblock main %}
