{% extends "base.html" %}

{% block header %}
{% include "partials/navbar.html" %}
{% endblock header %}

{% block main %}
 <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex flex-wrap justify-between gap-3 p-4">
              <p class="text-white tracking-light text-[32px] font-bold leading-tight min-w-72">Products</p>
              <a href="{% url 'dashboard:create' %}"
                class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-8 px-4 bg-[#493622] hover:bg-yellow-600 text-white text-sm font-medium leading-normal"
              >
                <span class="truncate">Add Product</span>
              </a>
            </div>
<div class="px-4 py-3 @container">
    <div class="flex overflow-hidden rounded-lg border border-[#684d31] bg-[#231a10]">
        <table class="flex-1">
            <thead>
                <tr class="bg-[#342618]">
                    <th
                        class="table-60b66f55-2788-4a97-96c2-7ca923375668-column-56 px-4 py-3 text-left text-white w-14 text-sm font-medium leading-normal">
                        Product</th>
                    <th
                        class="table-60b66f55-2788-4a97-96c2-7ca923375668-column-176 px-4 py-3 text-left text-white w-[400px] text-sm font-medium leading-normal">
                        Name</th>
                    <th
                        class="table-60b66f55-2788-4a97-96c2-7ca923375668-column-296 px-4 py-3 text-left text-white w-[400px] text-sm font-medium leading-normal">
                        Description</th>
                    <th
                        class="table-60b66f55-2788-4a97-96c2-7ca923375668-column-416 px-4 py-3 text-left text-white w-[400px] text-sm font-medium leading-normal">
                        Price</th>
                    <th
                        class="table-60b66f55-2788-4a97-96c2-7ca923375668-column-536 px-4 py-3 text-left text-white w-[400px] text-sm font-medium leading-normal">
                        Size</th>
                    <th
                        class="table-60b66f55-2788-4a97-96c2-7ca923375668-column-656 px-4 py-3 text-left text-white w-[400px] text-sm font-medium leading-normal">
                        Material</th>
                    <th
                        class="table-60b66f55-2788-4a97-96c2-7ca923375668-column-776 px-4 py-3 text-left text-white w-60 text-[#cbad90] text-sm font-medium leading-normal">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>

                {% for product in products %}
                <tr class="border-t border-t-[#684d31]">
                    <td
                        class="table-60b66f55-2788-4a97-96c2-7ca923375668-column-56 h-[72px] px-4 py-2 w-14 text-sm font-normal leading-normal">
                        <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full w-10"
                            style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBh2tvH4MWf612bfXDFFHzSxWXc7zwb9vtLp6hC6qX9rwP32x7sa_UmS-CwmCSwHe-UUdM8OV6UzrqurHq57bBA4BZ_9HiflpLn9uewLyZgfRH5FC_X0MBPvfxCnmOralONoWhNAeJgSM0gz8KJh3L0C6-VT4NmqMdPdcTCwGARlT7802nLrEOiFWS9rFdIuqiDwKArQc4Y20nbq0_ks4wkFAftd0OfQomoy65pM4lujOCXBpuPMwlepCJj0bjQYvOFpz7WRRkjTc6Q");'>
                        </div>
                    </td>
                    <td
                        class="table-60b66f55-2788-4a97-96c2-7ca923375668-column-176 h-[72px] px-4 py-2 w-[400px] text-white text-sm font-normal leading-normal">
                        {{ product.name }}
                    </td>
                    <td
                        class="table-60b66f55-2788-4a97-96c2-7ca923375668-column-296 h-[72px] px-4 py-2 w-[400px] text-[#cbad90] text-sm font-normal leading-normal">
                        {{ product.description }}
                    </td>
                    <td
                        class="table-60b66f55-2788-4a97-96c2-7ca923375668-column-416 h-[72px] px-4 py-2 w-[400px] text-[#cbad90] text-sm font-normal leading-normal">
                        {{ product.price }}</td>
                    <td
                        class="table-60b66f55-2788-4a97-96c2-7ca923375668-column-536 h-[72px] px-4 py-2 w-[400px] text-[#cbad90] text-sm font-normal leading-normal">
                        {{ product.size }}</td>
                    <td
                        class="table-60b66f55-2788-4a97-96c2-7ca923375668-column-656 h-[72px] px-4 py-2 w-[400px] text-[#cbad90] text-sm font-normal leading-normal">
                        {{ product.material }}</td>
                    <td
                        class="table-60b66f55-2788-4a97-96c2-7ca923375668-column-776 h-[72px] px-4 py-2 w-60 text-[#cbad90] text-sm font-bold leading-normal tracking-[0.015em]">
                        <a href="{% url 'inventory:details' pk=product.id %}" class="block hover:text-yellow-600 transition-all duration-200">Details</a>
                        <a href="{% url 'dashboard:update' pk=product.id %}" class="block hover:text-yellow-600 transition-all duration-200">Edit</a>
                        <form action="{% url 'dashboard:delete' pk=product.id %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="hover:cursor-pointer hover:text-yellow-600 transition-all duration-200">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock main %}
